<div class="flex justify-center md:max-w-2xl xl:max-w-7xl w-full mx-auto px-5 xl:px-20 h-80.25 md:h-29 xl:h-55 bg-blue-100/80 rounded-4xl mt-10 xl:mt-29">
    <div class="grid grid-cols-2 md:grid-cols-6 xl:grid-cols-6 gap-y-6 gap-x-10 xl:gap-x-20 place-items-center">
      <div class="flex flex-col items-center gap-3 xl:gap-5 text-center">
        <svg class="size-10.5 md:size-8.5 xl:size-15.75 text-green-400">
          <use href="#icon-eco"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-22 xl:w-36 leading-2.5 xl:leading-4">
          Бережём природу. Эко-тара и проборы.
        </span>
      </div>
      <div class="flex flex-col items-center text-center gap-2.5 xl:gap-5">
        <svg class="size-10 md:size-9 xl:size-16 text-green-400">
          <use href="#icon-dishes"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-26 xl:w-44 leading-2.5 xl:leading-4">
          28 дней без повторения, более 300 блюд!
        </span>
      </div>
      <div class="flex flex-col items-center gap-2.5 xl:gap-4.75 text-center">
        <svg class="size-11 md:size-9 xl:size-17 text-green-400">
          <use href="#icon-return"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-24.25 xl:min-w-39.75  leading-2.5 xl:leading-4">
          Бесплатно заменяем блюда и ингредиенты.
        </span>
      </div>
      <div class="flex flex-col items-center gap-2.75 xl:gap-6.5 text-center">
        <svg class="size-10 md:size-8 xl:size-15 text-green-400">
          <use href="#icon-working"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-31 xl:w-47 leading-2.5 xl:leading-4">
          Готовим ночью, упаковываем и отправляем Вам!
        </span>
      </div>
      <div class="flex flex-col items-center gap-1 xl:gap-1.25 text-center">
        <svg class="size-16 md:size-13 xl:size-25 text-green-400">
          <use href="#icon-delivery"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-24 xl:w-36 leading-2.5 xl:leading-4">
          Ежедневная удобная и бесплатная доставка с 6:00 до 10:00
        </span>
      </div>
      <div class="flex flex-col items-center gap-2.75 xl:gap-4.5 text-center">
        <svg class="size-11 md:size-9 xl:size-17 xl:mt-5 text-green-400">
          <use href="#icon-time"></use>
        </svg>
        <span class="font-montserrat font-medium text-3xs md:text-4xs xl:text-xs w-28.5 xl:w-43 leading-2.5 xl:leading-4">
          Сохраняем Вашу энергию и до 14 часов в неделю освобождая от готовки!
        </span>
      </div>
    </div>
</div>

