<nav class="circular-menu bottom-20 right-20 w-20 h-20 fixed z-50">
    <div class="circular-menu__counter flex justify-center items-center font-bold text-xs bg-black text-blue-100 absolute -top-1 right-0 rounded-full w-6.25 h-6.25 z-10">1</div>
    <div class="circular-menu__message rounded-xl shadow-md pt-3 pb-4 px-4.5 z-10 w-51.5 absolute -top-20.5 right-0 text-xs bg-blue-100 before:block before:w-4 before:h-4 before:bg-blue-100 before:rotate-45 before:absolute before:-bottom-1 before:right-6.5 "> <a href="#" class="text-green-400 hover:underline">Мы онлайн!</a>  Консультация и -30% в чате. <span class="text-green-400">Без звонка!</span></div>  
    <ul class="circle w-20 h-20">
        <li class="circle__item absolute">
            <a href="#" class=" flex items-center justify-center size-8.5 p-1.5 rounded-full bg-black text-blue-100">
                <svg class="size-5.5">
                    <use href='#icon-viber' />
                </svg>
            </a>
        </li>
        <li class="circle__item absolute">
            <a href="#" class="flex items-center justify-center size-8.5 p-1.5 rounded-full bg-black text-blue-100">
                <svg class="size-5.5">
                    <use href='#icon-telegram' />
                </svg>
            </a>
        </li>
        <li class="circle__item circle__item_group flex items-center justify-center gap-2.25 bg-blue-100 absolute w-26.25 h-13 rounded-full">
            <a href="#" class="flex items-center justify-center size-8.5 rounded-full bg-black text-blue-100">
                <svg class="size-5.5">
                    <use href='#icon-instagram' />
                </svg>
            </a>
            <a href="#" class="flex items-center justify-center size-8.5 rounded-full bg-black text-blue-100">
                <svg class="size-8.5">
                    <use href='#icon-facebook' />
                </svg>
            </a>
        </li>
    </ul>
    <button type="button" class="circular-menu__button absolute top-1/2 left-1/2 -translate-1/2 shadow-xl size-20 p-5.25 bg-blue-100 hover:text-green-400 text-center rounded-full cursor-pointer flex items-center justify-center">
        <svg class="circular-menu__icon w-full h-full">
            <use href='#icon-feedback-button' />
        </svg>
    </button>
</nav>