<aside class="max-w-455 w-full left-1/2 -translate-x-1/2 z-50 fixed top-[calc(100%-4.5rem)] md:top-36 xl:top-55">
    <nav class="flex items-start gap-1.5 absolute left-5.25 top-0 z-20 md:flex-col md:gap-2.5 xl:gap-12.5 md:left-6">
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-calories' />
            </svg>
            <span class="hidden ml-4 mr-9.5 md:text-xl lg:text-2xl">Программы 800 - 2400 ккал</span>
        </a>
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-fish' />
            </svg>
            <span class="hidden md:text-xl lg:text-2xl ml-4 mr-9.5">Fish</span>
        </a>
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-carrot' />
            </svg>
            <span class="hidden md:text-xl lg:text-2xl ml-4 mr-9.5">Vegetables</span>
        </a>
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-bottle' />
            </svg>
            <span class="hidden md:text-xl lg:text-2xl ml-4 mr-9.5">Water</span>
        </a>
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-meat' />
            </svg>
            <span class="hidden md:text-xl lg:text-2xl ml-4 mr-9.5">Meat</span>
        </a>
        <a href="#" class="category-link flex items-center h-10.25 w-10.25 bg-blue-100 shadow-lg rounded-full hover:text-green-400 lg:h-17.5 lg:w-17.5 group">
            <svg class="size-10.25 lg:size-17.5">
                <use href='#icon-table' />
            </svg>
            <span class="hidden md:text-xl lg:text-2xl ml-4 mr-9.5">Top - 5</span>
        </a>
    </nav>
</aside>